리스트, 튜플, 딕셔너리, set과 함께 사용하는 for  
리스트, 튜플, 딕셔너리, set의 0번째 값을 변수에 저장하고 반복을 시작하고 마지막 값을 변수에 넣고 반복한 후 반복을 종료한다.  
for 변수 in 리스트, 튜플, 딕셔너리, set의 이름: => 인덱싱 및 슬라이싱도 가능하다.  
&nbsp;&nbsp;&nbsp;&nbsp;반복할 문장  
&nbsp;&nbsp;&nbsp;&nbsp;...

In [10]:
# 리스트와 함께 사용하는 for
a = ["Life", "is", "too", "Good"]
print(a)
print("=" * 80)
for i in a:
    print(i)
print("=" * 80)
for i in a[1:3]:
    print(i)
print("=" * 80)
for i in range(len(a)):
    print(a[i])

['Life', 'is', 'too', 'Good']
================================================================================
Life
is
too
Good
================================================================================
is
too
================================================================================
Life
is
too
Good

In [11]:
# 튜플과 함께 사용하는 for
a = "Life", "is", "too", "Good"
print(a)
print("=" * 80)
for i in a:
    print(i)
print("=" * 80)
for i in a[1:3]:
    print(i)
print("=" * 80)
for i in range(len(a)):
    print(a[i])

('Life', 'is', 'too', 'Good')
================================================================================
Life
is
too
Good
================================================================================
is
too
================================================================================
Life
is
too
Good

In [15]:
# set과 함께 사용하는 for
a = {"Life", "is", "too", "Good"}
print(a)
print("=" * 80)
for i in a:
    print(i)
print("=" * 80)
'''
for i in a[1:3]: # set은 입력되는 데이터 순서와 실제 저장되는 데이터의 순서가 달라서 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
print("=" * 80)
for i in range(len(a)):
    print(a[i]) # set은 입력되는 데이터 순서와 실제 저장되는 데이터의 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.
'''
pass

{'is', 'too', 'Good', 'Life'}
================================================================================
is
too
Good
Life
================================================================================

In [24]:
# 딕셔너리와 함께 사용하는 for
d = {"apple": 1000, "banana": 3500, "melon": 10000, "mango": 5000}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 10000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [25]:
for key in d: # 딕셔너리 이름은 딕서너리이름.keys()와 같은 의미로 사용된다.
    print(key)
print("=" * 80)
for key in d.keys():
    print(key)

apple
banana
melon
mango
================================================================================
apple
banana
melon
mango

In [29]:
for value in d.values():
    print(value)
print("=" * 80)
for key in d.keys():
    print(d[key])
print("=" * 80)
for key in d.keys():
    print(d.get(key))

1000
3500
10000
5000
================================================================================
1000
3500
10000
5000
================================================================================
1000
3500
10000
5000

In [46]:
for item in d.items():
    print(item)
print("=" * 80)
for item in d.items():
    print(item[0])
print("=" * 80)
for item in d.items():
    print(item[1])
print("=" * 80)
for key, value in d.items():
    print("{0:6s}는 {1:6,d}원 입니다.".format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
================================================================================
apple
banana
melon
mango
================================================================================
1000
3500
10000
5000
================================================================================
apple 는  1,000원 입니다.
banana는  3,500원 입니다.
melon 는 10,000원 입니다.
mango 는  5,000원 입니다.